.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.col-md-05 {
  -ms-flex: 0 0 4.166667%;
  flex: 0 0 4.166667%;
  max-width: 4.166667%;
}

.col-md-115 {
  -ms-flex: 0 0 95.833333%;
  flex: 0 0 95.833333%;
  max-width: 95.833333%;
}
