<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crispin</title>

    <link type="text/css" rel="stylesheet" href="~/app.css" />
</head>
<body>
    <noscript>You should turn on javascript so you can enjoy the site. :)</noscript>
    <div class="container-fluid" id="root"></div>
    <script src="~/app.js"></script>
</body>
</html>